.forest-margin{
    margin-top: 90px;
    padding-top: 20px;
}
.header-nav{
    margin-bottom: 20px;
}

#sales-chart{
    margin-top: 30px;
    margin-bottom: 30px;
}
.chart-margin{
    margin-top: 150px;
}

#jarak-chart{
    margin-top: 50px;
}